@import "../../../globals.scss";

:host {
    & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        & > span {
            color: ywdt(light-content);
            text-decoration: none;
            font-size: 1rem;
            padding: 2.5px 10px;
            border-radius: 5px;
            cursor: pointer;
            user-select: none;
            font-family: 'Assistant', sans-serif;
            font-size: 1.1rem;
            &:hover {
                background-color: lighten(ywdt(surface), 10%);
            }
        }
    }
}
