<app-main-frame>
    <app-page-anchor anchor="external">Externals</app-page-anchor>
    <app-page-anchor anchor="tips">Tips</app-page-anchor>
    <!-- # -->
    <section id="external" class="basic">
        <h1>External Resources</h1>
        <p>At Precaution, we also believe that protecting yourself from online fraud doesn't have to stop at simulations. Having access to widely-trusted and reliable online resources is also significant. Therefore, we have scouted through the whole Internet and compiled a comprehensive list of such resources. Use the provided buttons below to learn more about each represented company/service.</p>
    </section>
    <app-external-info></app-external-info>
    <div class="divider"></div>
    <section id="tips" class="basic">
        <h1>Important Tips</h1>
        <p>Protecting yourself online can also be as simple as being more knowledgable about your surroundings. Below, we have provided an extensive and searchable list of such tips. On top of that, this list is constantly updated from community suggestions and questions!</p>
    </section>
    <app-tips-search></app-tips-search>
    <!-- <section class="dummy"></section> -->
    <div class="end-spacer"></div>
</app-main-frame>