<app-scam-frame (start)="init()"><section class="body">
    <div class="logo">
        <button mat-icon-button><mat-icon>menu</mat-icon></button>
        <a href="javascript:void(0)">
            <div>
                <!-- LOGO -->
            </div>
            <span>Pmail</span>
        </a>
    </div>
    <div class="head">
        <div class="search">
            <div class="input">
                <button mat-icon-button>
                    <mat-icon>search</mat-icon>
                </button>
                <span>Search Mail</span>
            </div>
        </div>
        <div class="floats">
            <button mat-icon-button>
                <mat-icon>help_outline</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>settings</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>apps</mat-icon>
            </button>
            <button mat-icon-button>
                <div class="logo">
                    <!-- logo -->
                </div>
            </button>
        </div>
    </div>
    <div class="nav">
        <div class="compose">
            <div matRipple>
                <mat-icon>add</mat-icon>
                <span>Compose</span>
            </div>
        </div>
        <div class="boxes">
            <div>
                <mat-icon>inbox</mat-icon>
                <span>Inbox</span>
                <span>{{ 90 | randNum : 11 }}</span>
            </div>
            <div>
                <mat-icon>star</mat-icon>
                <span>Starred</span>
                <span>{{ 10 | randNum : 1 }}</span>
            </div>
            <div>
                <mat-icon>access_time</mat-icon>
                <span>Snoozed</span>
            </div>
            <div>
                <mat-icon>label_important</mat-icon>
                <span>Important</span>
                <span>{{ 10 | randNum : 1 }}</span>
            </div>
            <div>
                <mat-icon>send</mat-icon>
                <span>Sent</span>
            </div>
            <div>
                <mat-icon>drafts</mat-icon>
                <span>Drafts</span>
                <span>{{ 10 | randNum : 1 }}</span>
            </div>
        </div>
        <div class="meet">
            <h1>Meet</h1>
            <div>
                <mat-icon>videocam</mat-icon>
                <span>New Meeting</span>
            </div>
            <div>
                <mat-icon>keyboard</mat-icon>
                <span>Join a Meeting</span>
            </div>
        </div>
    </div>
    <div class="email">
        <div class="floats">
            <button mat-icon-button>
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
            <div class="toolbox">
                <div class="group">
                    <button mat-icon-button>
                        <mat-icon>archive</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>block</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <div class="group">
                    <button mat-icon-button>
                        <mat-icon> mail_outline</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>access_time</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>check_circle_outline</mat-icon>
                    </button>
                </div>
                <div class="group">
                    <button mat-icon-button>
                        <mat-icon>file_copy</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>label</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="title">
                <h1>Urgent Business Proposal</h1>
                <button mat-icon-button>
                    <mat-icon> local_printshop</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>open_in_new</mat-icon>
                </button>
            </div>
            <!-- CONTENT -->
            <app-nigerian-prince-scam-message *ngFor="let msg of messages" [data]="msg.email" [collapsed$]="msg.collapsed$"></app-nigerian-prince-scam-message>
            <div class="ui">
                <div class="profile">
                    <div>
                        <!-- logo -->
                    </div>
                </div>
                <div class="body">
                    <div class="head">
                        <div class="info">Precaution Email Aide</div>
                        <div class="misc">a trusty aide sent from Precaution</div>
                    </div>
                    <div class="content">
                        <!-- CONTENT -->
                        <p *ngIf="loading$ | async">Loading...</p>
                        <ng-container *ngIf="!(loading$ | async)">
                            <ng-container *ngIf="!(end$ | async)">
                                <p *ngIf="(story$ | async).length">{{ story$ | async }}</p>
                                <p>What will you do now? Select and execute an option.</p>
                                <mat-radio-group [formControl]="optionsControl">
                                    <mat-radio-button *ngFor="let opt of options$ | async" [value]="opt.sceneId">
                                        <span class="radio-button-span">{{ opt.details }}</span>
                                    </mat-radio-button>
                                </mat-radio-group>
                                <div class="action">
                                    <button matRipple matRippleColor="#00000044" (click)="confirmSelection()" [disabled]="optionsControl.invalid">
                                        <span>Execute</span>
                                        <mat-icon>send</mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="end$ | async">
                                <p>You have reached the one of the possible endings of the simulation.</p>
                                <p>Click on the button below to restart the simulation and explore other possible endings.</p>
                                <p>If you wish to exit, use the button located at the BOTTOM LEFT of the page.</p>
                                <div class="action">
                                    <button matRipple matRippleColor="#00000044" (click)="reset()">
                                        <span>Reset</span>
                                        <mat-icon>rotate_left</mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widgets">
        <button mat-icon-button>
            <mat-icon>calendar_today</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>check_circle</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon> contact_phone</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>add</mat-icon>
        </button>
    </div>
</section></app-scam-frame>

