:host > div {
    background-color: #eff5fb;
    color: #296fa8;
    padding: 8px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    & > p:first-of-type {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
    }
    &::ng-deep > p {
        font-family: 'Assistant', sans-serif;
        margin: 0;
        font-size: 1rem;
    }
}
